@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=STIX+Two+Text:wght@400;500;600&display=swap');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

body {
  margin-right: auto;
  margin-left: auto;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.font-stix {
  font-family: 'STIX Two Text', serif;
  font-weight: 600;
}

/* PostCard Carousel 색상 변경
맨 첫번째 CSS가 인식이 안돼서 두 번 썼습니다. */
.carousel-class > div:nth-child(3) > button > span > svg {
  color: black;
}
.carousel-class > div:nth-child(4) > button > span > svg {
  color: black;
}
.carousel-class > div:nth-child(3) > button > span > svg {
  color: black;
}
.carousel-class > div:nth-child(3) > button > span {
  background-color: #f0f0fa;
}
.carousel-class > div:nth-child(3) > button > span:hover {
  background-color: #e4eaf6;
}
.carousel-class > div:nth-child(4) > button > span {
  background-color: #f0f0fa;
}
.carousel-class > div:nth-child(4) > button > span:hover {
  background-color: #e4eaf6;
}

/*.navMediaquery {
  background: blue;
}
.navMediaquery > div > ul {
  background: red;
  gap: 0;
}*/

/* 채팅방 CSS */

.chat-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-message {
  width: 90%;
  border-radius: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
}
.send-button {
  width: 10%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}
.member {
  padding: 10px;
  background: #eee;
  border: #000;
  cursor: pointer;
  margin: 5px 2px;
}
.member.active {
  background: blueviolet;
  color: #fff;
}
.member:hover {
  background: purple;
  color: #fff;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}

.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0.5px 2px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}
.message-data {
  padding: 5px;
}
.message.self {
  justify-content: end;
}
